{
	"FileVersion": 3,
	"Version": 1,
	"VersionName": "1.0",
	"FriendlyName": "{{FRIENDLY_NAME}}",
	"Description": "{{DESCRIPTION}}",
	"Category": "{{CATEGORY}}",
	"CreatedBy": "{{AUTHOR}}",
	"CreatedByURL": "",
	"DocsURL": "",
	"MarketplaceURL": "",
	"SupportURL": "",
	"CanContainContent": false,
	"IsBetaVersion": false,
	"IsExperimentalVersion": false,
	"Installed": false,
	"Modules": [
		{
			"Name": "{{MODULE_NAME}}",
			"Type": "Editor",
			"LoadingPhase": "PostEngineInit"
		}
	]
}
